.filter{
    width: 11px / 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4px;
    margin: auto;
    padding: 4px;
  
    }
   .filter button{
    font-size: large;
    padding: 2px, 1px;
    font: medium;
    margin-right: 15px;
    border-radius:3px ;
    color: white;
    cursor: pointer;
    background-color: black;
} 
.filter button:hover{
   background-color: rgba(51, 48, 48, 0.875);
    border: 2px;
    transition: all 300ms;
}
 